apiVersion: v1
kind: Service
metadata:
  name: adguard-home
spec:
  selector:
    app: adguard-home
  ports:
    - name: web
      port: 3000        # Service port Traefik hits
      protocol: TCP
      targetPort: 80    # container port AdGuard actually listens on
    - name: dns-udp
      port: 53
      protocol: UDP
      targetPort: 53
    - name: dns-tcp
      port: 53
      protocol: TCP
      targetPort: 53
