apiVersion: v1
kind: Service
metadata:
  name: adguard-home
  namespace: adguard-home
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.0.42
  externalTrafficPolicy: Local
  selector:
    app: adguard-home
  ports:
    - name: web
      port: 3000
      protocol: TCP
      targetPort: 80
    - name: dns-udp
      port: 53
      protocol: UDP
      targetPort: 53
    - name: dns-tcp
      port: 53
      protocol: TCP
      targetPort: 53
